
body {
  font-family: 'Indie Flower', cursive;
  background-color: #393E46;
  color: #A6E3E9;
}
footer{
  padding-top: 80px;
}
#heading{
  color: #00ADB5;
  font-family: 'Lobster', cursive;
  text-align: center;
  font-size: 48px;
  padding-top: 80px;
  padding-bottom: 50px;
}
h3{
  text-align: center;
}
a{
  color: #008fb5;
}
a:visited{
  color:  #005369;
}
a:hover{
  color: #A6E3E9;
  text-decoration: none;
}
img{
  text-align: center;
  height: auto;
  width: 100px;
  display: block;
  margin: 0 auto;
}
/* Small devices (landscape phones, less than 768px) */
@media (min-width: 767.98px) {
  #heading{
    font-size: 144px;
  }
  h3{
    font-size: 40px;
  }
  img{
    width: 240px;
  }
}

/* // Medium devices (tablets, less than 992px) */
@media (min-width: 991.98px) {
  #heading{
  font-size: 150px;
}
img{
  width: 240px;
}
}

/* // Large devices (desktops, less than 1200px) */
@media (min-width: 1199.98px) {
  #heading{
  font-size: 150px;
}
img{
  width: 250px;
}
}
